.home-recommend-view {
  .video-list-item {
    margin: {
      bottom: 20px;
    }

    min-height: 88px;

    &:last-of-type {
      margin: {
        bottom: 0px;
      }
    }

    .item-video-box {
      position: relative;
      /* 图片圆角 */
      $card-border-radius: 4px;

      .item-image {
        width: 100%;

        border-radius: $card-border-radius;
      }

      .video-time {
        opacity: 0;

        min-width: 40px;

        background-color: black;

        border-radius: 2px;

        color: white;

        display: inline-block;

        position: absolute;

        bottom: 10px;
        right: 5px;

        font-size: 12px;

        text-align: center;

        transition: opacity 0.4s;
      }

      &:hover .video-time {
        opacity: 1;
      }
    }

    .item-info-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      .item-title {
        font: {
          weight: bold;
          size: 13px;
        }

        cursor: pointer;
      }

      $font-size: 12px;
      $color: var(--grey-color-font);

      .update-time {
        font-size: $font-size;

        color: $color;
      }

      .read-count {
        font-size: $font-size;

        color: $color;
      }
    }
  }
}
