

:root {
  /* 页面中顶部区域icon的颜色 */
  --layout-header-icon-color: #747575
    /* 页面中所有采用黑色的文字 */
    --black-color-font: #000;
  /* 页面中所有采用灰色字体的文字 */
  --grey-color-font: #747575;

  --color-da: $card-border-radius;

}
